[credential]
	helper = store
[user]
	email = moabdulrazak17@gmail.com
	name = Abdul Razak
[init]
	defaultBranch = main
[core]
  pager = delta
	editor = rvim

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[alias]
  st = status -s
  sta = status
  conf = config --global --edit
  cge = config --global --edit
  ci = commit
  co = checkout
  cod = checkout .
  rh = reset HEAD
  aa = add -A
  cdf = clean -df
  br = branch
  bra = branch -a
  pr = pull --rebase
  amend = commit -a --amend --no-edit
  ciam = commit -a --amend --no-edit
  cp = cherry-pick
[submodule]
	recurse = true
[url "https://"]
	insteadOf = git://
[url "https://github.com/"]
	insteadOf = git@github.com:
